<!-- 此code被搬移到上層monitor.html
<div>
	<div class="col-lg-4">
		<h4>
			區域：
			<div class="btn-group">
				<select class="form-control input-sm" ng-model="selectedFishArea" ng-options="x.name for x in fishArea"></select>
			</div>
		</h4>
	</div>
	<div class="col-lg-8">
		<h4 ng-if="selectedFishArea.propMap.installUser">
			{{selectedFishArea.propMap.installUser.name}}：
			<img alt="image" class="img-circle cf_adm_photo" src="images/a4.jpg" style="width: 32px; height: 32px;">
			<strong>{{selectedFishArea.propMap.installUser.value}}</strong>
			<button type="button" class="btn btn-info btn-xs">暫停值班</button>
			<button type="button" class="btn btn-info btn-xs">繼續值班</button>
			<button type="button" class="btn btn-info btn-xs">換班交接</button>
		</h4>{{selectedFishArea.propMap.farmer.value}}
	</div>
</div>
 -->